<div class="about-section">
  <h1 class="aboutme-sub">About Us</h1>
  <p class="aboutme-des">Our goal behind Wheelin' n Dealin' is to provide an easy way for car salesperson to keep track of their sales. This will allow for the salesperson to further understand the market trends. With Wheelin' n Dealin' every car salesperson will be able to reach their goals.</p>
  <p></p>
  <p class="aboutme-descrip">This application was brought to fuition by a group of coding bootcampers.</p>
</div>

<section class="team-section">
<h2 class="aboutme-sub">The Team</h2>
<div class="team-about">
  <div class="column-about">
    <div class="card">
      <img src="https://ca.slack-edge.com/T04ABAC5DU1-U04EGHY1DU7-b3c1d724bfb4-512" alt="Brandon" style="width:100%">
      <div class="container">
        <h2 class="member-name">Brandon Ruano</h2>
        <p class="roleZ">Team member + Founder</p>
        <p class="email-about">bruano@uw.edu</p>
        <p><a class ="github-link" href="https://github.com/bruano95">github.com/bruano95</a></p>
      </div>
    </div>
  </div>

    <div class="column-about">
    <div class="card">
      <img src="https://ca.slack-edge.com/T04ABAC5DU1-U04E634QMD1-1c2a9b788c93-512" alt="Lemseh" style="width:100%">
      <div class="container">
        <h2>Lemseh Carothers-Abdullah</h2>
        <p class="roleZ">Team member + Founder</p>
        <p>lemsehcarbuf@gmail.com</p>
        <p><a class ="github-link" href="https://github.com/lemsehcar">github.com/lemsehcar</a></p>
      </div>
    </div>
  </div>

  <div class="column-about">
    <div class="card">
      <img src="https://ca.slack-edge.com/T04ABAC5DU1-U04DZ68DT3P-6120ef009c80-512" alt="Jimmy" style="width:100%">
      <div class="container">
        <h2>Jimmy Yin</h2>
        <p class="title">Team member + Founder</p>
        <p>jiimmyyin85@live.com</p>
        <p><a class ="github-link" href="https://github.com/xKranze">github.com/xKranze</a></p>
      </div>
    </div>
  </div>

  <div class="column-about">
    <div class="card">
      <img src="https://ca.slack-edge.com/T04ABAC5DU1-U04F9Q2H8HF-99d80dc7f6d1-512" alt="Kobby" style="width:100%">
      <div class="container">
        <h2>Kobby Solomon</h2>
        <p class="title">Team member + Founder</p>
        <p>DKSolomon8135@gmail.com</p>
        <p><a class ="github-link" href="https://github.com/DKsolomon">github.com/DKsolomon</a></p>
      </div>
    </div>
  </div>
</div>
</section>