:root {
  --primary: #134074;
  --secondary: #87b7c9;
  --tertiary: #9ab078;
  --quatrinary: #5a6988;
  --light: #E0E1DD;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  text-align: center;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: grid;
  height:100%;
}

nav {
  display: inline-block;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 2px 20px;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.button {
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #134074;
  background-color: #87b7c9;
  color: #E0E1DD;
}

.button:hover {
  background-color: white; 
  color: black; 
}

.gallery {
  background-color: #fff;
  color: #E0E1DD;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card,
.sign-up-card {
  margin-bottom: 45px;
  display: inline-flex;
  flex: 0 0 50%;
  max-width: 70%;
  width: 50%;
  padding: 25px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #12436e;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
  
}

.gallery{
  background-color: #8DA9C4;
  font-style: var(--light);
}

.team-about{
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
}

.github-link {
  text-decoration: none;
  color: #fff;
}

.column-about {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.aboutme-sub {
  font-size: 70px;
  font-weight: 600;
}

.aboutme-des,
.aboutme-descrip {
  font-size: 20px;
}

.aboutme-descrip {
  text-decoration: underline;
  margin-bottom: 40px;
}

.aboutme-des {
  margin: auto;
  width: 80%;
}

